.backdrop{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/2/21/Web_of_Spider-Man_Vol_1_129-1.png") !important;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat center/100%;
    background-size: cover;
    background-position: center;
}